
/* -------------------   T A R J E T A      D I G I T A L ------------------- */
body {
    margin: 0;
    background: #ecf9ff;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

/* Layout general */
.layout {
    display: flex;
    height: 100vh;
}

/* Columna izquierda */
.col-izquierda {
    width: 40%;
    background: linear-gradient(135deg,#4b6cff, #7b3cf1);
    display: flex;
    flex-direction: column;    
    justify-content: center;     
    align-items: flex-start;     
    padding-left: 40px;          
}

.titulo-tarjeta {
    font-size: 36px;
    font-weight: bold;
    border-bottom: 3px solid #87b5d9;
    padding-bottom: 5px;
}

/* Columna derecha */
.col-derecha {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta más grande */
.tarjeta {
    width: 440px;
    height: 260px;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    border-radius: 25px;
    padding: 30px;
    color: white;
    box-shadow: 0 18px 45px rgba(0,0,0,0.25);
}

/* Chip */
.chip {
    width: 65px;
    height: 45px;
    background: #d4c27a;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Folio */
.folio {
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.label {
    font-size: 12px;
    opacity: 0.85;
    margin-bottom: 3px;
    letter-spacing: 1px;
}

.nombre, .cvv, .expira {
    font-size: 18px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

/* --------- TARJETA QUE GIRA --------- link base: https://www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-card {
    width: 440px;
    height: 260px;
    perspective: 1000px; /*le da profundidad 3D, 1000 porque entre valores mas bajos hace que se vea que gira mas fuerte/
    cursor: pointer; /*PARA QUE SE SEPA QUE SE PUEDE GIRAR (cursor MANITA)*/
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card.girada .flip-card-inner {
    transform: rotateY(180deg); /*Rota 180 degrees en Y*/
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    backface-visibility: hidden;
}

.flip-card-front .tarjeta {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Bandita negra magnetica */
.banda-magnetica {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: black;
    border-radius: 4px;
}

/* Cuadro blanco (no me acuerdo como se llama) */
.cuadro-cvv {
    margin-top: 30px;
    width: 70%;
    height: 45px;
    background: white;
    border-radius: 5px;
}

/* Botón de volver..... */
.btn-volver {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 18px;
    background: linear-gradient(135deg, #542a9c, #7c3aed);
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #4f6a82;
    transition: 0.2s;
}

.btn-volver:hover {
    background: linear-gradient(135deg,#2d6dff, #4e2eff);
    color: white;
    border-color: #7aa9d6;
}

/*P A R T E  D E  Q R */


.qr-panel {
    margin-top: 40px;
    background: linear-gradient(135deg, #542a9c, #7c3aed);
    width: 350px;
    padding: 30px 20px;
    border-radius: 25px;
    color: white;
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);
}


/* Títulos */
.qr-title {
    text-align: center;
    margin: 5px 0;
    font-size: 24px;
}

.qr-subtitle {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* Caja del QR */
.qr-box {
    background: white;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.qr-image {
    width: 50%;
}

/* ID bajo el código */
.qr-id {
    margin-top: 10px;
    font-size: 14px;
    color: #7e22ce;
    font-weight: bold;
}

/* Botón gris */
.qr-info-btn {
    width: 100%;
    padding: 14px;
    background: rgba(255,255,255,0.18);
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}

/* Botón morado */
.qr-active-btn {
    width: 100%;
    padding: 14px;
    background: rgba(255,255,255,0.22);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 14px;
    color: #dcd5ff;
    font-size: 15px;
}
